.sceneno1{
	-fx-background-color:transparent;
	-fx-text-fill:Black;
	
}
.sceneno2{
	-fx-background-color:transparent;
	-fx-text-fill:BurlyWood;
}
.sceneno3{
	-fx-background-color:FloralWhite;
	-fx-text-fill:BurlyWood;
}